/* Base Styles */
body {
  font-family: 'Arimo', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

/* Grid System */
.full-width {
  width: 100%;
}

/* Header */
.topNav {
  background-color: #ffb826;
  overflow: hidden;
  position: relative;
}

.topNav h1 {
  font-size: 55px;
  font-family: 'Merriweather', serif;
  color: #504d4a;
  padding-left: 15px;
}

.topNav .myLinks {
  display: none;
}

.topNav nav ul li {
  list-style-type: none;
  padding: 10px 0;
}

.topNav nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #504d4a;
  display: block;
  padding: 14px 16px;
  font-weight: bold;
}

.topNav nav ul li a:hover {
  color: #c9c2b9;
}

.topNav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 35px;
  color: #504d4a;
}

/* Logo */
#logo .half-width {
  padding-bottom: 15px;
}

#logo h2 {
  font-size: 45px;
  font-family: 'Merriweather', serif;
  color: #504d4a;
}

#logo p {
  font-size: 20px;
  color: #504d4a;
}

/* Note */
#note h2 {
  font-family: "Merriweather", serif;
  font-size: 45px;
  color: #504d4a;
}

#note p {
  font-size: 20px;
  color: #504d4a;
  line-height: 32px;
}

/* Preview */
#preview p {
  font-size: 20px;
  color: #504d4a;
  line-height: 32px;
}

/* Address */
#address h2 {
  font-size: 45px;
  font-family: 'Merriweather', serif;
  color: #504d4a;
}

#address h3 {
  font-size: 35px;
  font-family: 'Merriweather', serif;
  color: #504d4a;
}

#address p {
  font-size: 20px;
  line-height: 32px;
  color: #504d4a;
}

/* Footer */
footer {
  background-color: #ffb826;
}

footer p {
  font-size: 18px;
  color: #505d4a;
}

footer nav ul li {
  display: inline-block;
}

footer nav ul li i {
  text-decoration: none;
  color: #505d4a;
  padding-left: 15px;
}

footer nav ul li i:hover {
  color: #c9c2b9;
}
