/* Base Styles */
body {
  font-family: 'Arimo', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

/* Grid System */
.full-width {
  width: 100%;
}

/* Header */
header {
  background-color: #ffb826;
  overflow: hidden;
  position: relative;
}

header i {
  padding: 15px;
}

header a i {
  color: #333;
}

header i a:hover {
  color: #c9c2b9;
}

header h1 {
  font-size: 55px;
  font-family: 'Merriweather', serif;
  color: #504d4a;
  text-align: center;
}

header nav {
  display: none;
}

header nav ul li {
  list-style-type: none;
  padding: 10px 0;
}

header nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #333;
  display: block;
}

header nav ul li a:hover {
  color: #504d4a;
}
