/* Base Styles */
body {
  font-family: 'Arimo', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

/* Grid System */
.full-width {
  width: 100%;
}

/* Header */
