/* Base Styles */
body {
  font-family: 'Arimo', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

/* Grid System */
.full-width {
  width: 100%;
  margin: 0 auto;
}

.half-width {
  width: 50%;
  float: left;
}

/* Header */
header {
  background-color: #ffb826;
}

header h1 {
  font-size: 75px;
  font-family: 'Merriweather', serif;
  color: #504d4a;
  padding-left: 20px;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #504d4a;
  padding-left: 20px;
  font-weight: bold;
}

header nav ul li a:hover {
  color: #c9c2b9;
}

header .topNav a.icon {
  visibility: hidden;
}

/* Logo */
#logo {
  height: 700px;
}

#logo .full-width {
  padding: 20px;
}

#logo h2 {
  font-size: 65px;
  font-family: 'Merriweather', serif;
  color: #504d4a;
}

#logo p {
  font-size: 20px;
  color: #504d4a;
}

/* Note */
#note {
  height: 500px;
}

#note h2 {
  font-family: "Merriweather", serif;
  font-size: 65px;
  color: #504d4a;
}

#note p {
  font-size: 20px;
  color: #504d4a;
  line-height: 32px;
}

/* Preview */
#preview {
  height: 900px;
  padding: 40px;
}

#preview .full-width {
  display: flex;
  flex-direction: row;
}

#preview .half-width {
  padding-bottom: 15px;
}

#preview p {
  font-size: 20px;
  color: #504d4a;
  line-height: 32px;
}

#preview img {
  height: 300px;
  padding-left: 20px;
}

/* Address */
#address {
  height: 650px;
}

#address h2 {
  font-size: 65px;
  font-family: 'Merriweather', serif;
  color: #504d4a;
}

#address h3 {
  font-size: 55px;
  font-family: 'Merriweather', serif;
  color: #504d4a;
}

#address p {
  font-size: 20px;
  line-height: 32px;
  color: #504d4a;
}

/* Footer */
footer {
  background-color: #ffb826;
}

footer p {
  font-size: 18px;
  color: #505d4a;
}

footer nav ul li {
  display: inline-block;
}

footer nav ul li i {
  text-decoration: none;
  color: #505d4a;
  padding-left: 15px;
}

footer nav ul li i:hover {
  color: #c9c2b9;
}
